footer{
                text-align:right;
                direction:ltr;
                color:blue;
                background-color:pink;
                font-family: cursive;
                font-weight: 700;
                font-variant: small-caps;
}